<button (click)="agregarPelicula()">Agregar Pelicula</button>
<app-listado-generico [listado]="peliculas">

  <ng-container contenido>
    @for (pelicula of peliculas; track $index) {
      <div class="contenedor-peliculas">
        <div style="display: flex; flex-direction: row; gap: 10px;">
          <div>
            @if (pelicula.image) {
              <img [src]="pelicula.image" width="169" height="250">
            }@else {
              <img src="default.jpg" alt="">
            }         
          </div>
          <div>
            <h3>TITULO: {{pelicula.titulo}}</h3>
            <h4>FECHA: {{pelicula.fecha | date:"dd/MMMM/YY"}}</h4>
            <h3>PRECIO: {{pelicula.precio}}</h3>
            <button mat-flat-button (click)="eliminarPelicula(pelicula)">Eliminar</button>
          </div>
        </div>
      </div>
    }
  </ng-container>
</app-listado-generico>
   
